.wrap {
  background-color: #274c5b;
  padding: 150px 0;
}
.offer {
  text-align: left;
  p {
    color: #7eb693;
    font-family: "Yellowtail", cursive;
    font-size: 36px;
    margin-bottom: 0;
  }
  h3 {
    font-size: 50px;
    color: white;
    margin-top: 0;
  }
}
