.modal_inner {
  display: flex;
  position: relative;
  flex-direction: row;
  gap: 40px;
  img {
    width: 500px;
    height: 500px;
    object-fit: cover;
  }
  &_content {
    padding: 60px 30px;
    h3 {
      color: #274c5b;
      font-size: 40px;
      margin-bottom: 0;
    }
    p {
      color: #525c60;
      font-size: 18px;
      font-family: "Open Sans", sans-serif;
    }
    span {
      color: #274c5b;
      font-size: 20px;
      font-weight: 600;
    }
    input {
      margin-left: 30px;
      font-size: 18px;
      text-align: center;
      padding: 28px 20px;
      border: 1px solid #274c5b;
      border-radius: 16px;
      max-width: 70px;
      margin-right: 20px;
    }
  }
}

.discount {
  color: #b8b8b8;
  font-size: 15px;
  text-decoration: line-through;
  font-weight: 500;
}
.price {
  color: #274c5b;
  font-size: 18px;
  font-weight: 600;
  &_wrap {
    display: flex;
    justify-content: space-between;
  }
}
.close {
  position: absolute;
  top: 30px;
  right: 150px;
  background-color: #274c5b;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 16px;
  color: white;
  &:hover {
    background-color: #274c5b96;
  }
}
.additional {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  div {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  p {
    color: #525c60;
    font-size: 18px;
  }
}
