.card {
  &_wrap {
    img {
      width: 235px;
      height: 220px;
      object-fit: contain;
    }
    // background-color: #f9f8f8;
    // width: 335px;
    // box-sizing: border-box;
    // padding: 20px 20px 10px;
    background-color: #f9f8f8;
    border-radius: 30px;
    padding: 20px 20px 10px;
    font-size: 30px;
    text-align: center;
    position: relative;
    text-align: left;
    &_title {
      text-align: left;
      color: #274c5b;
      font-size: 20px;
    }
  }
  &_tag {
    background-color: #274c5b;
    color: white;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 8px;
    position: absolute;
  }
}
.discount {
  color: #b8b8b8;
  font-size: 15px;
  text-decoration: line-through;
  font-weight: 500;
}
.price {
  color: #274c5b;
  font-size: 18px;
  font-weight: 600;
  &_wrap {
    display: flex;
    justify-content: space-between;
  }
}
.hr {
  background-color: #cccccc;
  margin-bottom: 0;
}
